# dependencies
/app/node_modules/
/app/.pnp
/app/.pnp.js

# testing
/app/coverage

# production
/app/build/**

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

go.sum
bindata.go
.iris.yml
